# Software Verification courses

["Looking for existing University courses *all levels* that use #Dafny, #Coq, #Agda, #Idris et cetera for software verification, computer-aided verification, et cetera.... Asking for a Friend...we need context for proposing a course...
I should be explicit, as 'et cetera' is not suitably fudgable: #Lean and other ITPs are fine. Courses on them are fine, courses that use them as the vehicle for teaching even better.
I know about the channel on the Lean zulip, this ain't the only hive mind that I have asked the question ;-) and I have done some research already..."](https://x.com/jfdm/status/1714006851245732253?s=20)

-  Rob Lewis's "Formal Proof and Verification": https://browncs1951x.github.io
-  one automated-bounded-verification based, "Logic for Systems": https://csci1710.github.io/2023/
-  Software Fiável https://fenix.ciencias.ulisboa.pt/courses/sfia-2536354281948960/pagina-inicial
-  Construction and Verification of Software (2021/2022) http://ctp.di.fct.unl.pt/~btoninho/teaching/cvs-22/


