# Software Verification courses

"Looking for existing University courses *all levels* that use #Dafny, #Coq, #Agda, #Idris et cetera for software verification, computer-aided verification, et cetera.... Asking for a Friend...we need context for proposing a course...
I should be explicit, as 'et cetera' is not suitably fudgable: #Lean and other ITPs are fine. Courses on them are fine, courses that use them as the vehicle for teaching even better.
I know about the channel on the Lean zulip, this ain't the only hive mind that I have asked the question ;-) and I have done some research already..."

