# Software Verification courses

["Looking for existing University courses *all levels* that use #Dafny, #Coq, #Agda, #Idris et cetera for software verification, computer-aided verification, et cetera.... Asking for a Friend...we need context for proposing a course...
I should be explicit, as 'et cetera' is not suitably fudgable: #Lean and other ITPs are fine. Courses on them are fine, courses that use them as the vehicle for teaching even better.
I know about the channel on the Lean zulip, this ain't the only hive mind that I have asked the question ;-) and I have done some research already..."](https://x.com/jfdm/status/1714006851245732253?s=20)

-  Rob Lewis's "Formal Proof and Verification": https://browncs1951x.github.io
-  one automated-bounded-verification based, "Logic for Systems": https://csci1710.github.io/2023/
-  Software Fiável https://fenix.ciencias.ulisboa.pt/courses/sfia-2536354281948960/pagina-inicial
-  Construction and Verification of Software (2021/2022) http://ctp.di.fct.unl.pt/~btoninho/teaching/cvs-22/
-  Robert Rand teaches program verification at the undergrad level at UChicago: https://rand.cs.uchicago.edu/cmsc224/winter22/
-  More Programming Than Programming: Teaching Formal Methods in a Software Engineering Programme https://link.springer.com/chapter/10.1007/978-3-031-06773-0_23
-  PROOF AUTOMATION https://dependenttyp.es/classes/598fa2022.html
-  Tobias Nipkow's courses on programming language semantics and functional data structures, both taught with Isabelle/HOL:
  - Semantics of Programming Languages https://www21.in.tum.de/teaching/semantics/WS23/index.html
  - Functional Data Structures https://www21.in.tum.de/teaching/fds/SS23/index.html
  - Practical Course ‘Specification and Verification’ https://www21.in.tum.de/teaching/psv/WS23/index.html
- Formal Methods (UFMG) https://hanielb.github.io/2023.2-fm/

